In [1]:
#exercise 1
print("Shashank")
print("17/1147-B")
print("Rajendra Nagar")
print("guntakal")
print("6309793933")

Shashank
17/1147-B
Rajendra Nagar
guntakal
6309793933

In [2]:
#excersise 2
username=(input("please enter your name"))
print("hello",username)

please enter your name Shashank chowdary Daripineni

hello Shashank chowdary Daripineni

In [3]:
#3
Height = float(input("plese enter the Height"))
Width = float(input("please enter the Width"))
Area = Height * Width 
print("Area of the Room is",Area , "feets")

plese enter the Height 50
please enter the Width 25

Area of the Room is 1250.0 feets

In [4]:
#4
SQFT_PER_ACRE = 43560
Height = float(input("plese enter the Height"))
Width = float(input("please enter the Width"))
Acres = Height * Width / SQFT_PER_ACRE
print("The Area of the field is",Acres ,"Acres")

plese enter the Height 25
please enter the Width 23

The Area of the field is 0.013200183654729108 Acres

In [5]:
#5
less_deposit = 0.10
more_deposit = 0.25
less = int(input("CONTAINERS 1 LITER OR LESS?"))
more = int(input("CONTAINERS MORE THAN 1 LITER?"))
Refund = less*less_deposit + more*more_deposit
print("YOUR'S TOTAL REFUND IS", Refund)

CONTAINERS 1 LITER OR LESS? 258
CONTAINERS MORE THAN 1 LITER? 265

YOUR'S TOTAL REFUND IS 92.05

In [6]:
#6
tax_rate = 0.04
tip_rate = 0.18
cost = float(input("PLEASE ENTER THE BILL OF MEAL"))
tax = cost * tax_rate
tip = cost * tip_rate
total = cost + tax + tip
print("THE TAX IS" , tax)
print("THE TIP IS" , tip)
print("THE TOTAL BILL IS" , total)

PLEASE ENTER THE BILL OF MEAL 258

THE TAX IS 10.32
THE TIP IS 46.44
THE TOTAL BILL IS 314.76

In [7]:
#7
n = int(input("please enter a positive integer"))
sum = n * (n+1) / 2
print("the sum of first n positive integers is" , sum)

please enter a positive integer 25

the sum of first n positive integers is 325.0

In [8]:
#8
widgets = int(input("Enter number of widgets"))
gizmos = int(input("Enter number of gizmos"))
weightofwidgets = widgets*75
weightofgizmos = gizmos*112
Totalweight = weightofwidgets + weightofgizmos
print("THE TOTAL WEIGHT OF THE PARTS IS",Totalweight)

Enter number of widgets 25
Enter number of gizmos 26

THE TOTAL WEIGHT OF THE PARTS IS 4787

In [9]:
#9
Amount_Deposited =  int(input("ENTER THE AMOUNT DEPOSITED"))
Intrestof_firstyear = Amount_Deposited * 4 /100
Balanceafter_oneyear = Amount_Deposited + Intrestof_firstyear
Intrestof_secondyear = Balanceafter_oneyear * 4/100
Balanceafter_twoyears = Balanceafter_oneyear + Intrestof_secondyear
Intrestof_thirdyear = Balanceafter_twoyears * 4/100
Balanceafter_threeyears = Balanceafter_twoyears + Intrestof_thirdyear
print("ACCOUNT BALANCE AFTER ONE YEAR", Balanceafter_oneyear)
print("ACCOUNT BALANCE AFTER TWO YEARS", Balanceafter_twoyears)
print("ACCOUNT BALANCE AFTER THREE YEARS", Balanceafter_threeyears)

ENTER THE AMOUNT DEPOSITED 2589

ACCOUNT BALANCE AFTER ONE YEAR 2692.56
ACCOUNT BALANCE AFTER TWO YEARS 2800.2624
ACCOUNT BALANCE AFTER THREE YEARS 2912.272896

In [10]:
#10
from math import log
a = int(input("ENTER THE VALUE OF a"))
b = int(input("ENTER THE VALUE OF b"))
print("THE SUM OF a AND b is",a+b)
print("THE DIFFERENCE OF a AND b IS",a-b)
print("THE PRODUCT OF a AND b IS",a*b)
print("THE QUOTIENT OF a AND b IS",a/b)
print("THE REMAINDER OF a AND b IS",a%b)

ENTER THE VALUE OF a 12
ENTER THE VALUE OF b 12

THE SUM OF a AND b is 24
THE DIFFERENCE OF a AND b IS 0
THE PRODUCT OF a AND b IS 144
THE QUOTIENT OF a AND b IS 1.0
THE REMAINDER OF a AND b IS 0

In [11]:
#12
from math import radians,cos,sin,asin,sqrt
lat1 = float(input("ENTER VALUE OF LATITUDE1 IN DEGREES"))
lat2 = float(input("ENTER VALUE OF LATITUDE2 IN DEGREES"))
lon1 = float(input("ENTER VALUE OF LONGITUDE1 IN DEGREES"))
lon2 = float(input("ENTER VALUE OF LONGITUDE2 IN DEGREES"))
Lon1 = radians(lon1)
Lon2 = radians(lon2)
Lat1 = radians(lat1)
Lat2 = radians(lat2)
dlon = Lon2 - Lon1
dlat = Lat2 - Lat1
a = sin(dlat/2)**2+cos(Lat1)*cos(Lat2)*sin(dlon/2)**2
c = 2*asin(sqrt(a))
r = 6371
print("distance between two given points is",c*r,"kilometers")

ENTER VALUE OF LATITUDE1 IN DEGREES 125
ENTER VALUE OF LATITUDE2 IN DEGREES 256
ENTER VALUE OF LONGITUDE1 IN DEGREES 141
ENTER VALUE OF LONGITUDE2 IN DEGREES 215

distance between two given points is 15474.211377211148 kilometers

In [12]:
#14
Height_infeet = float(input("ENTER THE HEIGHT OF THE PERSON IN FEETS"))
Height_ininches = Height_infeet * 12
Height_incentimeters = Height_ininches * 2.54
print("HEIGHT OF THE PERSON IN INCHES IS",Height_ininches)
print("HEIGHT OF THE PERSON IN CENTIMETERS IS",Height_incentimeters)

ENTER THE HEIGHT OF THE PERSON IN FEETS 25

HEIGHT OF THE PERSON IN INCHES IS 300.0
HEIGHT OF THE PERSON IN CENTIMETERS IS 762.0

In [13]:
#15
distance_infeets = float(input("ENTER THE DISTANCE IN FEETS"))
distance_ininches = distance_infeets * 12
distance_inyards = distance_infeets / 3
distance_inmiles = distance_infeets / 5280
print("GIVEN DISTANCE IN INCHES IS",distance_ininches)
print("GIVEN DISTANCE IN YARDS IS",distance_inyards)
print("GIVEN DISTANCE IN MILES IS",distance_inmiles)

ENTER THE DISTANCE IN FEETS 25

GIVEN DISTANCE IN INCHES IS 300.0
GIVEN DISTANCE IN YARDS IS 8.333333333333334
GIVEN DISTANCE IN MILES IS 0.004734848484848485

In [14]:
#16
from math import pi
r = float(input("ENTER THE RADIUS"))
area = pi * r**2
volume = 4/3 * pi * r**3
print("AREA OF THE GIVEN RADIUS IS",area)
print("VOLUME OF THE GIVEN RADIUS IS",volume)

ENTER THE RADIUS 89

AREA OF THE GIVEN RADIUS IS 24884.55540908475
VOLUME OF THE GIVEN RADIUS IS 2952967.241878057

In [15]:
#17.
WATER_HEAT_CAPACITY = 4.186
ELECTRICITY_PRICE = 8.9
J_TO_KWH = 2.777e-7
volume = float(input("Amount of water in milliliters: "))
d_temp = float(input("TEMPARATURE INCRESES"))
q = volume * d_temp * WATER_HEAT_CAPACITY
print("REQUIRED JOULES OF ENERGY IS",q)
kwh = q * J_TO_KWH
cost = kwh * ELECTRICITY_PRICE
print("ENERGY COST IS",cost)

Amount of water in milliliters:  256
TEMPARATURE INCRESES 22

REQUIRED JOULES OF ENERGY IS 23575.552
ENERGY COST IS 0.05826768403456

In [16]:
#18
from math import pi
radius = float(input("ENTER THE RADIUS OF THE CYLINDER"))
height = float(input("ENTER THE HEIGHT OF THE CYLINDER"))
volume_of_the_cylinder = pi* radius**2 *height
print("VOLUME THE CYLINDER IS",volume_of_the_cylinder)

ENTER THE RADIUS OF THE CYLINDER 45
ENTER THE HEIGHT OF THE CYLINDER 48

VOLUME THE CYLINDER IS 305362.80592892785

In [17]:
#19
from math import sqrt 
Gravity = 9.8
dropped_height = float(input("ENTER THE HEIGHT ITS DROPPED IN METERS"))
velocity = sqrt(2*Gravity *dropped_height)
print("THE OBJECT HITS THE GROUND AT",velocity,"m/s")

ENTER THE HEIGHT ITS DROPPED IN METERS 852

THE OBJECT HITS THE GROUND AT 129.22538450320044 m/s

In [18]:
#20
base_lenght = int(input("ENTER THE BASE LENGHT OF THE TRIANGLE"))
height = int(input("ENTER THE LENGHT OF THE TRIANGLE"))
area = (base_lenght * height)/2
print("THE AREA OF TRIANGLE IS",area)

ENTER THE BASE LENGHT OF THE TRIANGLE 55
ENTER THE LENGHT OF THE TRIANGLE 56

THE AREA OF TRIANGLE IS 1540.0

In [19]:
#21
from math import sqrt
s1 = int(input("LENGHT OF FIRST SIDE"))
s2 = int(input("LENGHT OF SECOND SIDE"))
s3 = int(input("LENGHT OF THIRD SIDE"))
S = (s1 + s2 + s3)/2
area = sqrt(S * (S-s1) * (S-s2) * (S-s3))
print("AREA OF TRIANGLE IS",area)

LENGHT OF FIRST SIDE 45
LENGHT OF SECOND SIDE 48
LENGHT OF THIRD SIDE 46

AREA OF TRIANGLE IS 927.5313673941167

In [20]:
#23
from math import pi , tan
s = int(input("ENTER LENGHT OF THE SIDE"))
n = int(input("ENTER TOTAL NUMBER OF SIDES"))
area = (n * s**2)/4 * tan(pi/n)
print("THE AREA OF REGULAR POLYGON IS",area)

ENTER LENGHT OF THE SIDE 89
ENTER TOTAL NUMBER OF SIDES 4

THE AREA OF REGULAR POLYGON IS 7920.999999999999

In [21]:
#24
n = int(input("ENTER THE DAYS"))
hours = n * 24
minutes = hours * 60
seconds = minutes *60
print("the total hours for given days is", hours)
print("the total minutes for given dyas is",minutes)
print("the total seconds for given days is",seconds)

ENTER THE DAYS 2

the total hours for given days is 48
the total minutes for given dyas is 2880
the total seconds for given days is 172800

In [22]:
#25
n = int(input("enter the total number of seconds"))
minutes = n / 60
hours = minutes /60
days = hours /24
print("the minutes for given seconds are",minutes)
print("the hours for given seconds are",hours)
print("the days for given seconds are",days)

enter the total number of seconds 256

the minutes for given seconds are 4.266666666666667
the hours for given seconds are 0.07111111111111111
the days for given seconds are 0.002962962962962963

In [23]:
#26
import time
n = time.time()
print("Number of ticks since 12:00am, January 1, 1970:",n)

Number of ticks since 12:00am, January 1, 1970: 1653843605.91161

In [24]:
#28
weight = int(input("ENTER THE WEIGHT IN KILOGRAMS"))
height = float(input("ENTER THE HEIGHT IN METERS"))
BMI = (weight)/(height*height)
print("BMI OFB THE GIVEN HEIGHT AND WEIGHT IS",BMI)

ENTER THE WEIGHT IN KILOGRAMS 85
ENTER THE HEIGHT IN METERS 29

BMI OFB THE GIVEN HEIGHT AND WEIGHT IS 0.10107015457788347

In [25]:
#29
temp = float(input("enter the temparature in degrees"))
speed = float(input("enter the speed in kmph"))
WCI = 13.12 + 0.6215 * temp - 11.37* speed **0.16 + 0.3965 * temp * speed ** 0.16
print("THE WIND CHILL INDEX FOR GIVEN INPUTS IS",WCI)

enter the temparature in degrees 40
enter the speed in kmph 261

THE WIND CHILL INDEX FOR GIVEN INPUTS IS 48.9172672004376

In [26]:
#30
temp = float(input("ENTER THE TEMPARATURE IN DEGREE CELSIUS"))
Fahrenheit = (temp * 9/5)+32
Kelvin = temp + 273.15
print("THE FAHRENHEIT OF GIVEN CELSIUS IS",Fahrenheit)
print("THE KELVIN OF GIVEN CELSIUS IS",Kelvin)

ENTER THE TEMPARATURE IN DEGREE CELSIUS 40

THE FAHRENHEIT OF GIVEN CELSIUS IS 104.0
THE KELVIN OF GIVEN CELSIUS IS 313.15

In [27]:
#31
p = float(input("ENTER THE PRESSURE IN KILOPASCALS"))
pressure = (p) / 6.895
print("THE PRESSURE IN POUNDS PER SQUARE INCH IS",pressure)

ENTER THE PRESSURE IN KILOPASCALS 100

THE PRESSURE IN POUNDS PER SQUARE INCH IS 14.503263234227703

In [28]:
#32
numbers = int(input("ENTER THE FOUR NUMBERS",))
X = int(input("first number"))
X1 = int(input("second number"))
X2 = int(input("third number"))
X3 = int(input("fourth number"))
print("the sum of four digits are ",X+X1+X2+X3)

ENTER THE FOUR NUMBERS 4562
first number 4
second number 5
third number 6
fourth number 2

the sum of four digits are  17

In [29]:
#33
a = int(input("enter the first number"))
b = int(input("enter the second number"))
c = int(input("enter the third number"))
mi = min(a,b,c)
ma = max(a,b,c)
md = a+b+c-mi-ma
print("THE SORTED NUMBERS ARE")
print("",mi)
print("",md)
print("",ma)

enter the first number 8
enter the second number 6
enter the third number 9

THE SORTED NUMBERS ARE
 6
 8
 9

In [30]:
#34
bread_price = 3.49
discount_rate = 0.60
num_loaves = int(input("ENTER THE NUMBER OF DAY OLD LOAVES"))
regular_price = num_loaves * bread_price
discount = regular_price * 0.60
total = regular_price - discount
print("REGULAR PRICE WITHOUT DISCOUNT",regular_price)
print("DISCOUNT PRICE IS",discount)
print("TOTAL PRICE AFTER DISCOUNT",total)

ENTER THE NUMBER OF DAY OLD LOAVES 89

REGULAR PRICE WITHOUT DISCOUNT 310.61
DISCOUNT PRICE IS 186.366
TOTAL PRICE AFTER DISCOUNT 124.244